* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
}

img {
  width: 100%;
}

.logo {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.logo img {
  width: 22px;
}

.mainContainer {
  margin: 50px auto;
  background-color: rgb(255, 0, 0);
  padding: 20px 30px 60px 30px;
  width: 350px;
  height: 550px;
  border-radius: 20px;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  height: 90%;
  border-radius: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.searchInput {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.searchInput input {
  padding: 10px;
  background-color: green;
  border-radius: 10px;
  color: white;
}

::placeholder {
  color: white;
}

.pokemonImg {
  width: 150px;
  align-self: center;
}

#weight,
#height {
  margin: 10px 0;
}

.stats {
  display: flex;
  justify-content: space-around;
}

.statName,
.statValue {
  list-style-type: none;
  text-align: left;
}

li {
  margin: 10px;
}

h4 {
  font-size: 16px;
}

.statValue {
  text-align: center;
}

.type {
  padding: 4px 8px;
  border-radius: 15px;
  margin: 10px 10px 0 0;
}

/* pokemon types background color */
.normal {
  background-color: #a8a77a;
}

.fire {
  background-color: #ee8130;
}

.water {
  background-color: #6390f0;
}

.electric {
  background-color: #f7d02c;
}

.grass {
  background-color: #7ac74c;
}

.ice {
  background-color: #96d9d6;
}

.fighting {
  background-color: #c22e28;
}

.poison {
  background-color: #a33ea1;
}

.ground {
  background-color: #e2bf65;
}

.flying {
  background-color: #a98ff3;
}

.psychic {
  background-color: #f95587;
}

.bug {
  background-color: #a6b91a;
}

.rock {
  background-color: #b6a136;
}

.ghost {
  background-color: #735797;
}

.dragon {
  background-color: #6f35fc;
}

.dark {
  background-color: #705746;
}

.steel {
  background-color: #b7b7ce;
}

.fairy {
  background-color: #d685ad;
}
